{
  "TOKEN": "",
  "MONGODB_URI": "",
  "REDIS_URL": "redis://localhost:6379",
  "MAX_PLAYLIST_SIZE": 10,
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100,
  "OWNER_ID": "",
  "DASHBOARD_URL": "https://your-dashboard-url.com",
  "PATREON_CLIENT_ID": "",
  "PATREON_CLIENT_SECRET": "",
  "PATREON_CREATOR_ACCESS_TOKEN": "",
  "PATREON_CAMPAIGN_ID": "",
  "PATREON_WEBHOOK_SECRET": "",
  "PATREON_FOUNDER_TIER_ID": ""
}